:host {
    display: block;
    margin-top: 4rem;
}

.gradient {
    height: 30rem;
}

.gradient--small {
    margin-bottom: 0;
}

.section__mayans__img {
    background-image: url(/assets/mayansBg.jpg);
    background-position: center;
    background-size: cover;
    height: 30rem;
    background-position: center center;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

.main {
    transform: translateY(-100px);
    opacity: 0;
}