<div
  class="main"
  #main
>

  <h1 class="title">About</h1>
  <hr>

  <section class="section">
    <h2 class="title">Story</h2>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        The idea for KINAM was born in 2013 in Guatemala as a way to celebrate the ancient Maya traditions and create a
        steady income independent from tourism to aid impoverished indigenous tribes. After moving to Berlin in 2017,
        Oshko
        met Nicolas at a QUARTERS Co-Living party and shared goals and visions for the future. Nicolas dreamt of
        founding
        a
        music label and media production company with childhood friends Christopher and Orhan. Oshko loved the idea, and
        proposed to join forces to create KINAM.
      </div>
      <div class="column is-4">
        Soon after, the four co-founders traveled to Guatemala to shoot content for the crowdfunding video, record live
        audio from the jungle for an electronic music album inspired by the Maya culture, and find a product for their
        brand. They decided on handwoven jackets, produced in collaboration between Maya descendant artisans and Berlin
        product experts, to tell the stories of the Mayas in a sleek, stylish way. In the past 8 months, the team has
        grown
        to 30 members across 7 countries, creating a global, loving network thrilled to bring the Maya textile art to
        the
        world.
      </div>
    </div>
  </section>
  <hr>
  <section class="section">
    <h2 class="title">Team</h2>
    <div class="columns">
      <div class="column is-6 is-offset-3">
        KINAM’s 4 co-founders Oshko, Nicolas, Christopher and Orhan met in the QUARTERS Co-Living Space in Berlin. They
        booked flights to Guatemala almost immediately after first discussing their idea to shoot material for the
        crowdfunding video, record jungle sounds for songs, and establish supplier relationships overseas. Upon
        returning
        to Berlin, they recruited 30 experts from their networks in Germany, Sweden, Guatemala, Israel and the U.S. With
        a
        diverse set of skills and expertise, the team is comprised of a Maya archeologist, textile engineers, product
        developers, designers, marketing specialists, music producers, and venture builders, working remotely and unpaid
        until the end of the crowdfunding campaign.

      </div>
    </div>
  </section>

  <hr>
  <section class="section">
    <h2 class="title">Partners</h2>
    <div class="columns">
      <div class="column is-6 is-offset-3">
        KINAM has four partners that help make our project possible. SOULMADE, located in Guatemala, acts as the
        middleman
        between KINAM and the communities of Maya descendant artisans by providing supply chain and production
        logistics.
        Good Garment Collective (GGC) in Berlin takes care of our manufacturing in the EU. We have partnered with
        Football
        for Worldwide Unity (FFWU) to develop social projects, an organization with over 5 years of experience training
        coaches and kids to use football as a tool to develop social and leadership skills in Africa. Last but not
        least,
        QUARTERS Co-Living in Berlin has been a major support since day one, when Oshko and Nicolas met there and got
        all
        of
        the tools they needed to work on the project together.
      </div>
    </div>
  </section>
</div>