<div class="tabOutline">
<mat-tab-group>
  <mat-tab label="First">
    <strong>Outer fabric material:</strong> 100% Polyester <br>
    <strong>Filling:</strong> 100% Polyester<br>
    <strong>Lining:</strong> 100% Polyester<br>
    <strong>Padding type:</strong>Lightly padded<br>
    <strong>Care instructions:</strong> Machine wash at 30°C, Machine wash on gentle cycle<br>
  </mat-tab>
  <mat-tab label="Second">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
  </mat-tab>
  <mat-tab label="Third">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
  </mat-tab>
  <mat-tab label="Fourterh">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
  </mat-tab>
</mat-tab-group>
</div>
