.mat-tab-label .mat-tab-label-content {
  color: white;
}

/* ink bar */
.mat-ink-bar {
  background-color: var(--primary-color, white) !important;
}

.tabOutline {
  border: 1px solid white;
  max-width: 620px;
  min-height: 200px;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.mat-tab-header-pagination-chevron {
  border-color: rgba(255,255,255,.38);
}

.mat-tab-body-wrapper {
  padding: 1rem 1.5rem; 
}