:host {
  color: white;
  position: relative;
  display: block;
}

.column {   
  position: relative;
}

.columns {
  flex-wrap: wrap;
}

.section-header {
  // font-size: 7.2rem;
  font-size: 6vw;
  font-weight: bolder;
  text-align: right;
  line-height: 1.1;
  position: relative;
  padding-right: 8rem;
  padding-left: 2rem;
  transform: translateY(-130px);
}

a {
  color: inherit;
}


h1 {
  pointer-events: none;
}

.header {
  justify-content: space-between;
  padding-top: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
}

.discover-more {
  transform: translateY(5rem);  
}

.menu {
  a {
    color: inherit;
    cursor: pointer;
  }
}

.btn {
  height: 3rem;
  min-width: 5rem;
  cursor: pointer;

  &--primary {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    border-radius: 3rem;
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 1.75rem;
    transition: 0.2s all ease-out;

    &:hover {
        color: black;
        background-color: white;
        transition: 0.2s all ease-out;
    }
  }
}

.column.logo {
  display: flex;
  align-items: center;
  font-weight: bolder;

  kinam-simple-logo {
    margin: 0 2rem;
    display: block;
  }
}


.divider {
  &__stripe {
    height: 3rem;
    width: 1px;
    background-color: white;
    margin: 0 2rem;
  }
}

.jacket-img-grid {
  display: grid;
  max-width: 100%;
  grid-template-columns: auto auto auto;
  grid-gap: 0.75rem;

  &__img {
    background-size: cover;
    background-position: center center;
    height: 360px;
    filter: contrast(1);
    transition: filter 0.2s ease-in-out;

    &:hover {
      filter: contrast(1.25);
      transition: filter 0.2s ease-in-out;
    }

    &-1 {
      background-image: url(/assets/jacket1_bg.jpg);
    }
    &-2 {
      background-image: url(/assets/jacket2_bg.jpg);
    }
    &-3 {
      background-image: url(/assets/jacket3_bg.jpg);
    }
  }
}

.section {
  &__hero {
    position: relative;
    opacity: 0;


    &__heading {
      text-align: right;
      font-size: 120px;
      font-weight: 900;
      line-height: 1;
      display: flex;
      justify-content: flex-end;
    }

    &__content {
      transform: translateY(-300px);
      margin-top: 10vh;
    }

    &__interaction {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-size: 2rem;
      font-weight: bolder;
      padding: 1rem 0;
      
      .fa-play-circle {
        font-size: 64px;
        margin-left: 1.5rem;
      }
    }
  }

  &__jacket {
    position: relative;

    &__header {
      font-size: 7.2rem;
      font-weight: bolder;
      text-align: right;
      line-height: 1.1;
      position: relative;
      padding-right: 8rem;
    }
  }

  &__mayans { 

    .text,
    .section-header {
      transform: translateY(-255px);
    }

    .text{
      display: flex;
      // position: absolute;

      p {
        text-align: right;
        padding: 0.5rem 2rem;
      }
    }
    
    &__img {
      background-image: url(/assets/mayansBg.jpg);
      background-size: cover;
      height: 30rem;
      background-position: 0% 50%
    }
  }


  &__music {
    &__header {
      font-size: 7.2rem;
      font-weight: bolder;
      text-align: right;
      line-height: 1.1;
      position: relative;
      padding-right: 2rem;
      transform: translateY(-129px);
    }
  }

  &__social { 

    &__img {
      background-image: url(/assets/socialBg.jpg);
      background-size: cover;
      height: 30rem;
      background-position: center 60%;
    }

    &__header {
      font-size: 7.2rem;
      font-weight: bolder;
      text-align: right;
      line-height: 1.1;
      position: relative;
      padding-right: 2rem;
    }

    &__text {
      max-width: 20rem;
      margin-right: 10rem;
    }
  }

  &__participate {
    margin-bottom: 3rem;
  }

  &__footer{ 
    color: black;
    background-color: white;
    min-height: 4rem;
    font-weight: bold;
  }
}

.watch {
  font-weight: 100;
  font-size: 36px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    width: 64px; 
    margin: 0 0.5rem;
  }
}

.btn {
  &--indigogo {
    border: 1px solid white;
    border-radius: 0.33rem;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;    
    transition: 0.2 ease-out;
    background-color: black;
    color: white;
    text-align: center;
  
    &:hover {
      background-color: white;
      color: black;
      transition: 0.2 ease-out;
    }
    
    &__container {
      text-align: center;
      margin-top: 3rem;
    }
  }
}

.section.responsive {
  transform: translateY(-80px);
}

.hero-text {
  font-size: 1.2rem;
}


/**
Complex Button start
*/

.hover-container {
  background-color: black;
  justify-content: center;
  align-items: center;
  position: relative;
}


.inner, 
.outline,
.behind {
  width: 25.5rem;
  height: 5rem;
}

.inner {
  border: 4px solid white;
  font-size: 2rem;
  transition: background-color 0.3s ease-in-out;
}

.outline {
  border: 4px solid white;
}

.behind {
  border: 4px solid;
  transform: translateX(-3%) translateY(-114%);
  position: absolute;
  background-color: black;
}

.fill {
  color: white;
  background-color: black;
  z-index: 5;
  font-size: 2rem;
  font-family: century-gothic, sans-serif;
}

.overlay {
  background: transparent;
  position: absolute;
  z-index: 5;
  transition: background 0.3s ease-in-out;
}

.text {
  margin: 1rem 2rem;
}

.outer {
  cursor: pointer;

  &:hover {
    .fill {
      background-color: white;
      color: black;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .overlay {
      border: 1px solid black;
      transition: border 0.3s ease-in-out;
    }

    .inner {
      background-color: black;
      color: white;
      z-index: -1;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
  }
}

.indiegogo {
  &__container {
    font-family: freight-sans-pro;
    font-weight: 600;
    margin: 0 1.75rem 0 0;
    font-size: 18px;
    line-height: 1.3;
  }

  &__link {
    color: #de1778;
    font-weight: bold;
  }
}

.order-now {
  &__container {
    margin-top: 4rem;
  }

  &__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    justify-content: flex-start;
    align-items: center;

    a {
      font-size: 1.2rem;
      color: white;
      line-height: 1;
      
      &:hover {
        color: #adadad;
      }
    } 
  }

  &__content {
    margin-top: 16px;
  }
}

.wall__bg {
  background-image: url("/assets/wall_bg.jpg");
  background-position-y: center;
}

/** Complex Button end */


.btn--mayans {
  width: 11rem;
  margin: 1.5rem 9rem 0 auto;

  .hover-container {
    background-color: black;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .behind,
  .inner,
  .outline {
    width: 11rem;
    height: 3rem;
  }
  
  .inner {
    border: 2px solid white;
    font-size: 2rem;
    transition: background-color 0.3s ease-in-out;
  }

  .outline {
    border: 2px solid white;
  }

  .behind {
    background: transparent;
    border: 2px solid;
    transform: translateX(-5%) translateY(-120%);
    position: absolute;
    background-color: black;
  }

  .fill {
    color: white;
    z-index: 5;
    font-size: 1rem;
    font-family: century-gothic, sans-serif;
    font-weight: bolder;
  }

  .overlay {
    background: transparent;
    position: absolute;
    z-index: 5;
    transition: background 0.3s ease-in-out;
  }

  .text {
    margin: 1rem 2rem;
  }

  .outer {
    cursor: pointer;

    &:hover {
      .fill {
        color: black;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      }

      .overlay {
        border: 1px solid black;
        transition: border 0.3s ease-in-out;
      }

      .inner {
        background-color: black;
        z-index: -1;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      }
    }
  }
}

.section__hero__text {
  p {
    font-family: freight-sans-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
  }
}

.mayan-reading__text {
  font-size: 1rem;
  margin: 8px 16px;
  display: flex;
  justify-content: space-around;
  line-height: 1.2;

  span {
    margin-right: 1rem;
    font-size: 0.9rem;
  }

  .fal {
    font-size: 2rem;
  }
}

.scroll-label {
  font-size: 1.5rem;
  font-family: century-gothic;
}

.ml-2 {
  margin-left: 2rem;
}

.interaction-container {
  align-items: center;
  display: flex;
  width: 100%;
}

.discover-more > div {
  text-align: center;
  min-height: 0; 
  position: absolute; 
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.meet-the-mayans {
  position: relative;
  top: -14.5rem;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
}

.content-block {
  margin-bottom: 2rem;

  &__headline {
    font-size: 3rem;
    font-weight: bolder;
    line-height: 1;
    margin-bottom: 1rem;
    font-family: freight-sans-pro;
  }

  &__body {
    font-size: 1rem;
    font-family: freight-sans-pro;
    font-weight: 100;
  }
}

.social-links {
  text-align: center;
  
  &__link {
    cursor: pointer;
    transition: 0.2s color ease-in-out;
    
    &--facebook {
        &:hover {
            color: #4768ad;
            transition: 0.2s color ease-in-out;
        }
    }
 
    &--instagram {
        &:hover {
            color: #ffc000;
            transition: 0.2s color ease-in-out;
        }
    }
 
    &--youtube {
        &:hover {
            color: red;
            transition: 0.2s color ease-in-out;
        }
    }
  }
}

.section__jacket__header {
  transform: translateY(-130px);
}

.interaction__jacket {
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1rem;

    .fal,
    .fas {
    margin: 0 auto;
      font-size: 48px;
    }
  }
}


@media (min-width: 768px) {
  .hero-text {
    justify-content: flex-start;
  }
}



@media (min-width: 0) and (max-width: 1407px) { 

  .section__mayans .text {
    transform: translateY(-90px);
  }

  .section__mayans .section-header,
  .section-header {
    font-size: 5rem;
    transform: translateY(-90px);
  }

  .section__hero__heading{
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .interaction-container {
    justify-content: center;
  }

  .section__hero__text {
      p {
        text-align: center;
      }
    }
 }

@media (min-width: 0) and (max-width: 1087px) {  

  .section {
    padding: 3rem 0;
    
    &__jacket {
      .interaction-bar {
        transform: translateY(-60px);
      }
      
      &__header {
        font-size: 6.2rem;
        transform:translateY(-75px);
      }
    }
    
    &__hero {
      &__heading {
        font-size: 4rem;
        line-height: 1.5;
      }
      
      &__interaction {
        justify-content: center; 
        flex-direction: row;
      }

      &__text {
        text-align: center;
        font-size: 20px;
      }
    }

    &__footer {
      text-align: center;
    }
  }

  .order-now__links  {
    text-align: center;
  }

  .hover-container {
    display: flex;
    justify-content: center;
  }

  .meet-the-mayans {  
    display: none;
  }
  
  .btn {
    &--indigogo {
      font-size: 1rem;
    }

    &--mayans {
      margin: 1.5rem 2.5rem 0 auto;
    }
  }

  .divider__stripe {
    margin: 0 1rem;
  }

  .section__social__text {
    margin: 1.5rem auto 2rem 0;
  }

  .section__social__header,
  .section__music__header,
  .section__jacket__header {
    font-size: 4rem;
      padding-left: 2rem;
      text-align: right;
  }

  .discover-more {
    transform: none;
  }

  .gradient--small {
    max-height: 260px;
  }

  .section__mayans .section-header,
  .section-header {
    font-size: 4rem;
    transform: none;
    padding-right: 3.5rem;
  }

  .section__mayans .text {
    transform: none;
  }

  .text {
    flex-direction: column;
  }
}


@media (min-width: 0) and (max-width: 768px) {
  .section-header{
    text-align: left;
  }

  .interaction-container {
    justify-content: center;
  }

  .order-now {
    &__links {
      justify-content:center;
      padding-top: 1rem;
    }
  }

  .order-now__container {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .hover-container.large {
    transform: scale(0.75);
  }

  .section.responsive {
    // margin-top: -10rem;
  }

  .section__mayans {
    margin-top: -9rem;
  }

  .section__social {
    margin-top: -4.5rem;
  }

  .interaction-bar__item {
    font-size: 10px;

    .fal,
    .fas {
      font-size: 24px;
    }
  }

  .interaction-bar {
    margin: 0 auto;
    justify-content: center;
    transform:none;
  }

  .logo {
    img {
      max-width: 8rem;
    }
  }

  .menu-icon {
    width: 5rem;
    margin-top: 20px;
    margin-right: 20px;
  }

  .section__hero__text {
    padding: 2rem;

    p {
      font-size: 18px;
    }
  }

  .content-block__headline,
  .content-block__body {
    text-align: center;
  }

  // .watch,
  .btn--primary {
    font-size: 1rem;
  }
  
  .btn--primary {
    padding: 0.5rem 0.75rem;
  }
  
  .btn--mayans {
    margin: 2rem auto;
  }

  .interaction__jacket__item {
    flex-direction: column;
    text-align: center;
  }

  .content-block {
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .section {
    &__music__header {
      transform: translateY(-90px);
    }

    &__hero {
      &__heading {
        justify-content: center; 
        text-align: center; 
      }
    }

    &__jacket {
      .column.is-6 {
        height: 9rem;
      }
    }

    &__social__text {
      bottom: 8rem;
      top: -4rem;
      margin: 0 auto !important;
      text-align: center;
    }

    &__social__header {
      // height: 7rem;
    }  

    &-header {
      // transform: translateY(-130px);
    }
  }


  .scroll-label {
    transform: translateY(6rem);
  }

  .interaction__jacket {
    bottom: 4rem;
    width: 100%;
    margin: 0;
  }

  .gradient {
    height: 40vh;
  }

  .content-block {
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 0) and (max-width: 768px) and (orientation: landscape) {
  .gradient {
    height: 80vh;
  }
}

@media (min-width: 1087px)  { 
  .jacket-img-grid__img,
  .gradient--small {
    height: 600px;
  }
}

@media (min-width: 0) and (max-width: 480px) { 

  .logo img {
      max-width: 8rem;
      margin-top: 1rem;
  }

  .section-header {
    padding-right: 0;
  }

  .watch {
    font-size: 24px;
    img {
      width: 32px;
    }
  }

  .hover-container.large {
    transform: scale(0.5);
  }
}

@media (min-width: 0) and (max-width: 320px) { 


  .section-header {
    font-size: 2.5rem;
    /* transform: translateY(-102px); */
    text-align: left;
    margin-left: 1rem;
    margin-top: 1.25rem;
  }

  .section__jacket__header {
    text-align: left;
  }

  .content-block__headline,
  .section__hero__heading {
    font-size: 2.5rem;
  }

  .btn--primary {
    padding: 0.25rem 0.5rem;
  }

  .section__mayans .section-header {
    font-size: 2.5rem;
    padding: 0;
  }
}