<!-- 
  Section: Help rebuild Guatemala
 -->
<section
  class="section__hero"
  #main
>
  <div class="gradient gradient__container">
    <div class="gradient gradient__image wall__bg"></div>
    <div class="gradient gradient__overlay"></div>
  </div>

  <div class="section__hero__content flex-center container">
    <div class="columns">
      <div class="column is-5-fullhd is-12-desktop section__hero__heading">
        <div>
          <span>Help</span><br>
          <span>Rebuild</span> <br>
          <span>Guatemala</span>
        </div>
      </div>
      <div
        class="column"
        style="display: flex; flex-direction: column; justify-content: flex-end;"
      >
        <div class="section__hero__interaction">
          <div class="interaction-container">
            <div class="watch">WATCH

              <img
                alt="Video Play Button"
                src="assets/play_btn.svg"
              >
            </div>
            <div class="divider">
              <div class="divider__stripe"></div>
            </div>
            <div class="btn btn--primary">participate</div>
          </div>
        </div>
        <div class="columns hero-text">
          <div class="column section__hero__text">
            <p>
              To uncover and conserve all the secrets hidden in the
              jungle of Guatemala and to help the indegnous tribes
              build a better future for their people
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="discover-more">
      <div>
        <div class="scroll-label">
          discover more <br>
          <i class="fal fa-chevron-down"></i>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: The Jacket -->
<section
  class="section__jacket"
  id="jacket"
>
  <div class="jacket-img-grid">
    <!--  Model Images -->
    <div
      class="jacket-img-grid__img jacket-img-grid__img-1"
      #jacketGrid
    ></div>
    <div
      class="jacket-img-grid__img jacket-img-grid__img-2"
      #jacketGrid
    ></div>
    <div
      class="jacket-img-grid__img jacket-img-grid__img-3"
      #jacketGrid
    ></div>
  </div>
  <div class="columns">
    <div class="column is-6">
      <h1 class="section__jacket__header">
        THE<br>
        JACKET
      </h1>
      <div class="interaction-bar">
        <div class="interaction-bar__item">
          <i class="fal fa-seedling"></i>
          <div class="icon-label">
            natural <br>
            materials
          </div>
        </div>
        <div class="interaction-bar__item">
          <i class="fal fa-flower-tulip"></i>
          <div class="icon-label">
            sustainable <br>
            model
          </div>
        </div>
        <div class="interaction-bar__item">
          <i class="fal fa-hand-holding-heart"></i>
          <div class="icon-label">
            handmade
          </div>
        </div>
      </div>
    </div>
    <div class="column order-now__container">
      <div class="hover-container large">
        <div class="outer">
          <div
            class="inner overlay"
            id="overlay"
          ></div>
          <div class="inner outline"></div>
          <div class="behind fill ">
            <div class="order-now__content">
              <div
                class="is-pulled-left"
                style="font-weight: 600;font-family: century-gothic;font-size: 24px;margin-top: 8px;"
              >
                &nbsp;&nbsp;&nbsp;ORDER NOW <i
                  class="fal fa-chevron-right"
                  style="margin-left: 6px"
                ></i>
              </div>
              <div class="is-pulled-right indiegogo__container">
                Support our <br>
                <a
                  class="indiegogo__link"
                  href="#"
                >INDIEGOGO</a> campaign
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="order-now__links">
        <br>
        <a
          href="/the-jacket"
          routerLink="/the-jacket"
        >
          Find out more <i class="fal fa-chevron-right"></i><i class="fal fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<!--  Section: The Mayans -->
<div class="gradient gradient--small gradient__container">
  <div
    class="gradient gradient--small gradient__image section__mayans__img"
    #mayansImg
  ></div>
</div>
<section class="section responsive">
  <section
    class="section__mayans"
    id="mayans"
  >
    <div class="columns is-gapless">
      <div class="column is-6">
        <h1 class="section-header">
          AN<br>
          ANCIENT<br>
          CIVILIZATION
        </h1>
        <div class="text">
          <p>
            The sacred Tzolkin calendar has been passed down from generation to generation since the date of creation
          </p>
          <a routerLink="/calendar">
            <div class="btn--mayans">
              <div class="hover-container">
                <div class="outer">
                  <div class="inner overlay"></div>
                  <div class="inner outline"></div>
                  <div class="behind fill ">
                    <div class="mayan-reading__text">
                      <span>DISCOVER YOUR <br> MAYA SIGN</span>
                      <i class="fal fa-chevron-right is-pulled-right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="column is-6">
        <!-- <div class="meet-the-mayans">
          MEET THE MAYANS
          <i class="fal fa-chevron-right"></i>
        </div> -->
        <div
          class="content-block"
          style="margin-top: 2rem;"
        >
          <div class="content-block__headline">A lost<br>
            Civilization
          </div>
          <div class="content-block__body">
            In the jungles of Guatemala <br>
            the ancient civilization of the Mayas <br>
            with its beautiful art, architecture & astrology <br>
            is waiting to be shared with the world.
            <br>
            <div class="order-now__links">
              <a
                href="/the-mayans"
                routerLink="/the-mayans"
              >learn more <i class="fal fa-chevron-right"></i><i class="fal fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- 
  Section: Social Projects
-->

<div class="gradient gradient--small gradient__container">
  <div
    class="gradient gradient--small gradient__image section__social__img"
    #socialImg
  ></div>
</div>

<section class="section responsive">
  <div>
    <section
      class="section__social"
      id="social-projects"
    >
      <div class="columns is-gapless section__social">
        <div class="column section__social__header is-6">
          <h1 class="section-header">
            THE CORE<br>
            OF KINAM
          </h1>
          <div
            class="interaction-bar"
            style="text-align: left;"
          >
            <div class="interaction-bar__item">
              <i class="fal fa-book-open"></i>
              <div class="icon-label">
                Education <br>
                through <br>
                Football
              </div>
            </div>
            <div class="interaction-bar__item">
              <i class="fas fa-globe-americas"></i>
              <div class="icon-label">
                Unveiling <br>
                Maya Art
              </div>
            </div>
            <div class="interaction-bar__item">
              <i class="fal fa-briefcase"></i>
              <div class="icon-label">
                Discovering <br>
                Ancient <br>
                Sectrets
              </div>
            </div>
          </div>
        </div>
        <div
          class="content-block"
          style="margin-top: 3rem;"
        >


          <div class="content-block__headline"> Social projects in the <br> heart of Guatemala </div>
          <div class="content-block__body">
            We aim to build pride and appreciation <br>
            for the Maya culture amongst younger generations <br>
            and equip them with the necessary tools for future success.
            <div class="order-now__links">
              <br>
              <a
                href="#"
                routerLink="/social-projects"
              >
                Find out more <i class="fal fa-chevron-right"></i><i class="fal fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<!-- 
    Section: Music
  -->
<section
  class="section__music"
  id="music"
>

  <div class="gradient gradient__container">
    <div class="gradient gradient__image wall__bg"></div>
    <div class="gradient gradient__overlay"></div>
    <div class="has-text-centered spotify-container">
      <iframe
        src="https://open.spotify.com/embed/album/323XXC7S9P5DhJJevRVzqy"
        class="spotify-player"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media"
      ></iframe>
    </div>
  </div>

  <h1 class="section__music__header">
    THE<br>
    MUSIC
  </h1>
</section>

<!-- 
    Section: Participate
  -->
<section class="section__participate">
  <div style="font-size: 1.5rem; text-align: center">
    participate <br>
    <i class="fal fa-chevron-down"></i>
  </div>
  <div class="btn--indigogo__container">
    <span class="btn btn--indigogo">
      Support our <span class="indiegogo__link">Indigogo</span> campaign
    </span>
  </div>
</section>


<!-- 
    Section: Footer
  -->
<section class="section section__footer">
  <div class="columns">
    <div
      class="column is-1"
      style="display: flex; justify-content: center; align-items: center;"
    >
      <kinam-simple-logo></kinam-simple-logo>
    </div>

    <div class="column">
      <a href="mailto:nick@kinam13.com">nick@kinam13.com</a>
      <br>
      <a href="tel:+4916096803437">+49 160 96803437</a>
    </div>

    <div class="column">
      Stromstraße 36
      <br>
      Berlin, Germany
    </div>

    <div class="column"></div>

    <div class="column">
      <div class="columns social-links">
        <div class="column social-links__link social-links__link--facebook">
          <i class="fab fa-facebook-square"></i>
          <br>
          facebook
        </div>
        <div class="column social-links__link social-links__link--instagram">
          <a
            href="https://www.instagram.com/kinambrand/"
            target="_blank"
          >
            <i class="fab fa-instagram"></i>
            <br>
            instagram
          </a>
        </div>
        <div class="column social-links__link social-links__link--youtube">
          <i class="fab fa-youtube"></i>
          <br>
          youtube
        </div>
      </div>
    </div>
  </div>
</section>

<kinam-menu></kinam-menu>