:host {
    color: white;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
}

.interaction-bar {
    transform: translate(0);
    padding-left: 2rem;
    justify-content: flex-start;
    margin-right: 0;
}

.product-divider {
  margin-bottom: 1.5rem; 
  max-width: 80%;
}

.columns {
  &--main {
      flex-wrap: wrap;
      height: 100vh;
      opacity: 0;
  }
}

.column {
    &__description {
        padding-left: 5rem;
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__model {
        max-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            max-height: 75vh;
        }
    }
}

.headline {
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
    align-items: center;
}


.img-grid {
    display: grid;
    max-width: 100%;
    grid-template-columns: auto auto auto;
    grid-gap: 0.75rem;

    &__img1,
    &__img2,
    &__img3 { 
      background-size: cover;
      background-position: center center;
      height: 360px;
      filter: contrast(1);
      transition: all 0.2s ease-in-out;

      &:hover {
        filter: contrast(1.25);
        transition: all 0.2s ease-in-out;
      }
    }

    &__img1 {
      background-image: url(/assets/jacket1_bg.jpg);
    }
    &__img2 {
      background-image: url(/assets/jacket2_bg.jpg);
    }
    &__img3 {
      background-image: url(/assets/jacket3_bg.jpg);
    }
}


/**
Complex Button start
*/


  

.inner, 
.outline,
.behind {
width: 25.5rem;
height: 5rem;
}
  
  .inner {
    border: 4px solid white;
    font-size: 2rem;
    transition: background-color 0.3s ease-in-out;
  }
  
  .outline {
    border: 4px solid white;
  }
  
  .behind {
    border: 4px solid;
    transform: translateX(-3%) translateY(-114%);
    position: absolute;
    background-color: #de1778;
  }
  
  .fill {
    color: white;
    background-color: #de1778;
    z-index: 5;
    font-size: 2rem;
    font-family: century-gothic, sans-serif;
  }
  
  .overlay {
    background: transparent;
    position: absolute;
    z-index: 5;
    transition: background 0.3s ease-in-out;
  }
  
  .text {
    margin: 1rem 2rem;
  }
  
  .outer {
    cursor: pointer;
  
    &:hover {
      .fill {
        background-color: white;
        color: black;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      }
  
      .overlay {
        border: 1px solid black;
        transition: border 0.3s ease-in-out;
      }
  
      .inner {
        background-color: black;
        color: white;
        z-index: -1;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      }
    }
  }
  
  .indiegogo {
    &__container {
      font-family: freight-sans-pro;
      font-weight: 600;
      margin: 0 1.75rem 0 0;
      font-size: 18px;
      line-height: 1.3;
    }
  
    &__link {
      color: black;
      font-weight: bold;
      
      &:hover {
          color: #de1778;
      }
    }
  }
  
  .order-now {
    &__container {
      margin-top: 20px;
    }
  
    &__links {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 2rem;
    }
  
    &__content {
      margin-top: 16px;
    }
  }
  


@media (min-width: 0) and (max-width: 1024px) { 
    .interaction-bar {
        justify-content: flex-start;
        flex-wrap: nowrap;
        margin: 0;

        &__item {
            .fas, 
            .fal {
                font-size: 32px;
             }
        }
    }

    .column {
        &__description {
            padding: unset;
        }
    }

    .columns {
        &--main {
            margin-top: 5rem;
        }
    }
  }


.hover-container {
  margin-left: 0.75rem;
  margin-top: 4rem;
}
  
@media (min-width: 0) and (max-width: 768px) { 

  .columns--main {
    height: unset;
  }

  .hover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
  }

  .interaction-bar {
      margin-right: 0;
      justify-content: center;

      &__item {
          .fal,
          .fas {
              font-size: 1.5rem;
          }
      }
  }

  .column {
      &__description {
          padding: unset;
      }
  }

  .columns {
      &--main {
          margin-top: 5rem;
      }

  }
}