:host {
    display: block;
    margin-top: 4rem;
}


.main {
  transform: translateY(-100px);
  opacity: 0;
}

.gradient {
    height: 30rem;
}

.gradient--small {
    margin-bottom: 0;
}

.section__social__img {
    background-image: url(/assets/socialBg.jpg);
    background-size: cover;
    height: 30rem;
    background-position: center 60%;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: white
}

h2 {
    text-align: center;
}

p {
    margin-bottom: 2rem
}
