.backdrop {
  z-index: 50;
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  background: #000000bf;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100vw); 
  transition: 0.7s transform ease-out;

  &.active {
    transform: translateX(0vw); 
    transition: 0.6s transform ease-out;
  }
}


a {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9e9e9e;

  &.active {
    color: black;
  }
}

.side-menu {
  overflow: auto;
  z-index: 51;
  width: 20rem;
  background-color: #fff;
  color: black;
  position: fixed;
  top: 0; 
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  padding-top: 4rem;
  font-weight: 700;
  font-size: 1.5rem;

  transition: 0.3s transform ease-out;
  transform: translateX(0rem);

  &.hidden {
    transform: translateX(20rem);
    transition: 0.6s transform ease-out;
  }

  ul {
    width: 100%;
  }

  li {
    padding: 2rem;
    margin: 1rem;
    position: relative;
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
    transition: box-shadow 0.4s;
    cursor: pointer;

    &:hover {
      box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.75);
      transition: box-shadow 0.4s;
    }
  }


  .menu-inner-close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 2rem;

    .fa-times {
      cursor: pointer;
      transform: scale(1);
      transition: 0.2s transform;
      &:hover {
        transform: scale(1.2);
        transition: 0.2s transform;
      }
    }
  }
}