<ng-container *ngIf="(menuHidden$ | async) as menuHidden">
  <div
    class="backdrop"
    [class.active]="!menuHidden.hidden"
    (click)="close()"
  ></div>

  <aside
    class="side-menu"
    [class.hidden]="menuHidden.hidden"
  >

    <div
      class="menu-inner-close"
      (click)="close()"
    >
      <i class="fal fa-times"></i>
    </div>

    <ul>
      <li>
        <a routerLink="/">
          WELCOME
        </a>
      </li>
      <li>
        <a
          routerLink="/the-jacket"
          routerLinkActive="active"
        >
          THE JACKET
        </a>
      </li>
      <li>
        <a
          routerLink="/the-mayans"
          routerLinkActive="active"
        >
          THE MAYANS
        </a>
      </li>
      <li>
        <a
          routerLink="/social-projects"
          routerLinkActive="active"
        >
          SOCIAL PROJECTS
        </a>
      </li>
      <li>
        <a
          routerLink="/music"
          routerLinkActive="active"
        >
          THE MUSIC
        </a>
      </li>
      <li>
        <a
          routerLink="/calendar"
          routerLinkActive="active"
        >
          THE CALENDAR
        </a>
      </li>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="active"
        >
          ABOUT
        </a>
      </li>
    </ul>
  </aside>
</ng-container>