/* You can add global styles to this file, and also import other style files */
@import "modules/all";

html {
  background-color: $color-bg;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}


strong {
  color: white !important;
}

path.current-color {
  stroke: currentColor;
}

.nowrap {
  white-space: nowrap;
}
