:host {
    color: white;
    margin-top: 4rem;
    display: block;
}

h1, 
h2 {
    color:white;
    text-align: center;
}


h1 {
    text-align: center;
    font-size: 3rem;
    color: white
}

.main {
    transform: translateY(-100px);
    opacity: 0;
}